.hide-scrollbar::-webkit-scrollbar{
    display: none;

}

@keyframes dropDownContainer {
   0%{
    transform: translateY(20px);
    opacity: 0;
   }
   100%{
    transform: translateY(0);
    opacity: 0.9;
   }
    
}

.dropContainer{
    animation: dropDownContainer 0.3s ease-in-out  ;
}